<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/main.css">
    <title>Create a Post</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    
</head>
<body>
    <h1>Create a Post</h1>
    <form action="/posts" method="POST">
        <label for="post">Post:</label>
        <textarea id="post" name="post" required></textarea>
        <button type="submit">Post</button>
    </form>
    <ul>
        <% posts.forEach(function(post, index) { %>
            <li><%= post %>
                <a href="/posts/edit/<%= index %>">Edit</a>
                <form action="/posts/delete/<%= index %>" method="POST" style="display:inline;">
                    <button id="delete"  type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
