body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: pink;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #343a40;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #ced4da; */
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #4276ae;
    color: white;
    border: none;
    /* margin-left: 5px; */
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}



#delete{
    margin-left: 5px;
}
button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: disc;
    padding: 0;
}

ul.post-list li {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.post-list li a {
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
}

ul.post-list li a:hover {
    text-decoration: underline;
}

.inline-form {
    display: inline;
}

.inline-form button {
    background-color: #df2828;
    margin-left: 10px;
}

.inline-form button:hover {
    background-color: #a958e3;
}
